main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 64em) {
  main {
    flex-direction: row;
    gap: 6.75rem;
    justify-content: space-between;
    & > .questions {
      display: none;
    }
  }
}
